:root {
    --Yellow-light: #f8ebc9;
    --Dark: #0e1412;
    --orange: #fd6038;
    --Green: #017848;
    --Yellow: #fed464;
    --White: #fff;
    --Grey: #586863;
    --Gray: #f2f2f2;
}
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

/* header */
.hero-image {
    position: relative;
    top: -90px;
}
.header {
    background: var(--Yellow-light);
    /* min-height: 100vh; */
}

.header > .container {
    width: 1440px;
    padding: 30px 0;
}

/* logo-header */

.header-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.header-icon-container > .header-tittle-1 {
    color: var(--Dark);

    font-family: "Roboto Slab";
    font-size: 2.4em;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 58.333% */
}

.header-icon-container > .header-tittle-2 {
    color: var(--Dark);
    font-family: "Roboto Slab";
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
/* menu */

.header-menu-container {
    display: flex;
    gap: 53px;
    font-size: 1.6rem;
    align-items: center;
    cursor: pointer;
}

.header-menu-container li  {
    list-style: none;
}

.header-menu-container a {
    color: var(--Dark);
    text-decoration: none;
}

.nav-item {
    font-family: "Manrope";
    padding: 20px 0;
}
.nav-item a:hover {
    color: var(--orange);
}

.nav-item {
    font-family: "Manrope";
    padding: 20px 0;
}
.nav-item:hover {
    color: var(--orange);
}

/* call */
.header-call-container {
    display: flex;
    align-items: center;
}
.call {
    justify-content: end;
}
.header-call-container > h2 {
    color: var(--Dark, #0e1412);
    text-align: center;
    /* P2 */
    font-family: "Manrope";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    align-items: center;
    padding: 20px 0;
}

.header-call-container > span {
    color: var(--Dark, #0e1412);
    text-align: center;
    font-family: "Manrope";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 145.455% */
    padding: 20px 0;
}

/* practice area */

.practice > .container {
    width: 1170px;
    padding: 100px 0;
}
.practice {
    background: var(--White);
}

.practice-container-content > span {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 30px;

    color: var(--Grey);
}

.practice-container-content > h1 {
    font-family: "Roboto Slab";
    font-weight: 800;
    font-size: 6rem;
    line-height: 70px;
    margin-top: 10px;
    color: var(--Dark);
}

.practice-container-content > p {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 28px;
    margin-top: 18px;
    color: var(--Grey);
}

.practice > .container > .row {
    padding-top: 100px;
    justify-content: center;
}

.practice-item {
    position: relative;
}

.practice-img-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.practice-tittle {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 30px;
    margin-top: 18px;
    color: var(--Dark);
}

.practice-date {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 28px;
    margin-top: 18px;
    color: var(--Grey);
}

.practice-action {
    margin-top: 50px;
}

.practice-btn-2 {
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    background: var(--Dark);

    color: var(--White, #fff);

    text-decoration: none; /* Bỏ gạch chân */
    /* B1 */
    font-family: "Manrope";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;

    border-radius: 31px;
}

.contact-form {
    margin-top: 40px;
}

.contact-form-item input {
    width: 100%;
    height: 60px;
    background-color: var(--Gray);
    margin: 20px 0;
    border: var(--Gray);
}
.contact-form-item input::placeholder {
    font-family: "Manrope";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding : 0 30px;
    color: var(--Grey);
}
/* footer */

.footer > .container {
    width: 1170px;

    padding: 150px 0;
}
.footer {
    background: var(--Dark);
}

.footer-item > h2 {
    color: var(--White);
    /* text-align: center; */
    font-family: "Manrope";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding: 20px 0;
}
.footer-item > p,
.footer-item > span {
    color: var(--Grey);
    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 166.667% */
    padding-bottom: 20px;
}
.footer-item-img {
    width: 470px;
    height: 268px;
}
.footer-item-last {
    position: relative;
}

.footer-item-last p {
    font-size: 16px;
    font-weight: 600;
    font-family: "Manrope";
    line-height: 28px;
}
.footer-note-map {
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--White);
    color: var(--Dark);
    padding: 10px 20px;
}

.footer hr {
    width: 100%;
    margin-top: 30px;
    color: #313d39;
}

/* logo footer */
/* logo-header */

.footer-icon-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

.footer-icon-container > .footer-tittle-1 {
    color: var(--White);

    font-family: "Roboto Slab";
    font-size: 2.4em;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 58.333% */
}

.row-footer {
    display: flex;
    justify-content: space-between;
}
.row-footer-text {
    display: flex;
    align-items: center;
}
.footer-icon-container > .footer-tittle-2 {
    color: var(--White);
    font-family: "Roboto Slab";
    font-size: 1.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.row-footer-text > p {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #beccc7;

    font-family: "Manrope";
    font-size: 1.4em;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

/* end footer */


